@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Permanent+Marker&display=swap');


* {
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
}


/* signup */

.signupPage {
    display: flex;
    /* align-items: center; */
    margin-right: auto;
    margin-top: 80px;
    margin-left: auto;

    /* 
    background-color: rgb(244, 244, 247);
    border: 1px solid; */
    width: 550px;
    height: 620px;
}

.signupform {
    margin-right: 70px;
    width: 280px;
    margin: 15px 0px 15px 20px;
    text-align: center;
    background-color: rgb(227, 227, 235);
    padding: 15px;
    width: 400px;

}

.signupform button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;

}

.signuparea {
    width: 280px;
    margin: 15px 40px 15px 0px;
    text-align: center;
    /* background-color: rgb(102, 102, 168); */
    background: url("./assets/sugnup1.jpg") center/cover;
    padding: 15px;
    padding-top: 30%;
    width: 400px;


}

.signuparea button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;
    text-decoration: none;
}

/* .bgimg {
    background: url("https://images.pexels.com/photos/839465/pexels-photo-839465.jpeg?cs=srgb&dl=pexels-freestocksorg-839465.jpg&fm=jpg");
    height: 100vh;
    
} */

.signuparea h1 {
    color: whitesmoke;
}

.signuparea p {
    color: whitesmoke;
}

.signuparea a {
    text-decoration: none;
    color: black;
}




.loginPage {
    display: flex;
    /* align-items: center; */
    /* margin-right: 500px; */
    margin-top: 80px;
    /* margin-left: 350px; */
    /* margin-right: 500px; */
    /* 
    background-color: rgb(244, 244, 247);
    border: 1px solid; */
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.loginform {
    /* margin-right: 90px; */
    /* width: 280px; */
    margin: 15px 0px 15px 0px;
    text-align: center;
    background-color: rgb(227, 227, 235);
    padding: 10px;
    width: 400px;

}

.loginform button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;

}


.loginarea {
    /* width: 280px; */
    margin: 15px 0px 15px 0px;
    text-align: center;
    /* background-color: rgb(102, 102, 168); */
    background: url("./assets/sugnup1.jpg") center/cover;
    padding: 19px;
    padding-top: 100px;
    /* padding: 10px; */

    width: 400px;



}

.loginarea button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(226, 25, 25);
    background-color: white;
    text-decoration: none;
}


.loginarea h1 {
    color: whitesmoke;
}

.loginarea p {
    color: whitesmoke;
}

.loginarea a {
    color: black;
    text-decoration: none;
}




/* scale(1.2); */

/* img {
    transform: .5s ease-in-out;

}

img:hover {
    filter: brightness(80%);
} */


.video4 {
    /* opacity: rgba(49, 46, 46, 0.8); */
    /* opacity: linear-gradient(rgba(94, 92, 92, 0.5)); */
    /* background: no-repeat; */

    /* width: 100%; */
    /* height: 80%;
    position: relative; */
    /* margin-bottom: 30px; */
}


.title {
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-family: sans-serif
}

.contain {
    background: no-repeat;
    position: relative;
    height: 80%;
    width: 100%;
}

.contain h1 {
    font-size: 10px;
}

.title h1 {
    font-size: 4em;
    color: azure;
    /* text-align: center; */
    margin: 0;
    margin-left: 12px;
    /* background-color: rgba(0, 0, 0, 0.87); */
    /* padding: 60px; */
}

.title p {
    font-size: 20px;
    color: azure;
    text-align: center;
    margin: 0px;
    letter-spacing: 6px;

}

.overlay {
    background: #000000bb;
    /* background: #271e1e62; */
    width: 100%;
    height: 99%;
    /* height: 80%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
}



/* edit card */
.companyCard :hover {
    /* background-color:rgba(63, 62, 62, 0.911); */
    /* color: white; */
    transform: scale(1.03);
    transition: all 1s ease;

    /* transition: 0.1s;
transform: scale(1.1); */

}

.companyCard {}


/* .companyCard{
display: flex;
justify-content: center;
} */


.header {
    margin-top: 80px;
    margin-left: 60px;
    color: rgba(44, 44, 46, 0.904);

}

.buttonAllproject {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.footer {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(0, 0, 0);
    /* rgba(82, 76, 76, 0.5); */
    color: white;
    text-align: center;
    /* color: rgb(218, 143, 109); */
}



.navbartop {
    background-color: rgba(0, 0, 0, 0.377);
}

.navbartop.active {
    background-color: rgba(0, 0, 0, 0.904);
}




.projectitem:hover {
    filter: brightness(80%);
}

.projectitem {
    transition: .3s ease-in-out;
    /* transform: scale(1.1); */
}


.linkOneCompany :hover {}

.buttonSeeAllProject {
    background-color: black;
    border-radius: 80px;
    padding: 5px;
    color: rgb(230, 224, 224);
    border: none;
    /* text-align: center; */
    font-size: 25px;
}

.buttonSeeAllProject:hover {

    /* transform: scale(1.03); */
    /* transition: all .5s ease; */
    opacity: 0.9;
    /* color: rgb(131, 125, 125); */
    /* background-color: azure; */

}


/* .navbartop{
    width: 100%; 
     display: flex; 
     justify-content: space-around; 
     align-items: center; 
     list-style: none; 
} */


/* .navbartop .nav-link{
    position: relative;
    color:var(--light);
    text-decoration: none;
    padding: 7px 0;
    font-size: 1.3rem;
} */

/* .navbartop .nav-link::after{
    content: '';
    position: absolute;
    bottom:0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: var(--white);
    translate:0.4s ease-out ;
}

.navbartop .nav-link:hover::after{
left:0;
width: 100px;
}  */

.editProfileCompany {
    /* color: white; */
    text-align: center;
    /* background-image: linear-gradient(rgb(0, 0, 0.72), rgba(0, 0, 0, 0.425)), url("https://cdn.pixabay.com/photo/2016/11/18/14/01/bridge-1834754_1280.jpg"); */
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* .avatarCompany{

} */

.profileUser {
    /* color: white; */
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.185); */
    /* background-image: linear-gradient(rgb(0, 0, 0.72), rgb(0, 0, 0, 0.12)), url("https://images.pexels.com/photos/5209912/pexels-photo-5209912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
}


.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none !important;
    box-shadow: none !important
}


/* .titleProject{
color: brown;
} */

.projectTitle:hover {
    color: rgb(56, 56, 56);
}

.projectTitle2:hover {
    color: rgb(56, 56, 56);
}

/* .photoProject{
    box-shadow:3px 3px 10px 2px #000000bb
} */
.photoProject {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.photoProject:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}

.projectitem {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.445);
    transition: 0.3s;
    /* color: rgb(90, 92, 94); */
}

.projectTitle2 {
    color: black;

}

.projectTitle2:hover {
    box-shadow: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8);
    color: rgba(62, 62, 65, 0.5)
}


/* --------------------------------------------------------- */
/* 
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
} */

/* ----------------------------------------------------------- */

.footer {

    text-align: center;
    padding: 30px;
    margin-top: auto;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}


.mainpage {
    /* margin-bottom: 400px; */
    min-height: 100vh;
}

html,
body {
    height: 100%;
    position: relative;
}

#root {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 100px; */

}