* {
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
    width: 100vw;
}


/* signup */

.signupPage {
    display: flex;
    /* align-items: center; */
    /* margin-right: 500px; */
 margin-top: 89px;
     margin-left: 350px;
    /* margin-right: 500px; */
    /* 
    background-color: rgb(244, 244, 247);
    border: 1px solid; */
    width: 550px;
    height: 620px;
}
.signupform {
    margin-right: 70px;
    width: 280px;
    margin: 15px 0px 15px 20px;
    text-align: center;
    background-color: rgb(227, 227, 235);
    padding: 15px;
    width: 400px;

}

.signupform button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;

}

.signuparea {
    width: 280px;
    margin: 15px 40px 15px 0px;
    text-align: center;
    /* background-color: rgb(102, 102, 168); */
    background: url("./assets/sugnup1.jpg") center/cover;
    padding: 15px;
    padding-top: 30%;
    width: 400px;
    

}

.signuparea button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;
    text-decoration: none;
}

/* .bgimg {
    background: url("https://images.pexels.com/photos/839465/pexels-photo-839465.jpeg?cs=srgb&dl=pexels-freestocksorg-839465.jpg&fm=jpg");
    height: 100vh;
    
} */

.signuparea h1 {
    color: whitesmoke;
}

.signuparea p {
    color: whitesmoke;
}

.signuparea a {
    text-decoration: none;
    color: black;
}


 

.loginPage {
    display: flex;
    /* align-items: center; */
    /* margin-right: 500px; */
    margin-top: 89px;
     margin-left: 350px;
    /* margin-right: 500px; */
    /* 
    background-color: rgb(244, 244, 247);
    border: 1px solid; */
    width: 500px;
}

.loginform {
    /* margin-right: 90px; */
    /* width: 280px; */
    margin: 15px 0px 15px 0px;
    text-align: center;
    background-color: rgb(227, 227, 235);
    padding: 10px;
    width: 400px;

}

.loginform button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(27, 23, 23);
    background-color: white;

}


.loginarea {
    /* width: 280px; */
    margin: 15px 0px 15px 0px;
    text-align: center;
    /* background-color: rgb(102, 102, 168); */
    background: url("./assets/sugnup1.jpg") center/cover;
    padding: 19px;
    padding-top: 100px;
    /* padding: 10px; */

    width: 400px;
    
    

}

.loginarea button {
    border: none;
    border-radius: 13px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(226, 25, 25);
    background-color: white;
    text-decoration: none;
}


.loginarea h1 {
    color: whitesmoke;
}

.loginarea p {
    color: whitesmoke;
}

.loginarea a {
    color: black;
    text-decoration: none;
}




/* scale(1.2); */

/* img {
    transform: .5s ease-in-out;

}

img:hover {
    filter: brightness(80%);
} */


.video4 {
    /* opacity: rgba(49, 46, 46, 0.8); */
    /* opacity: linear-gradient(rgba(94, 92, 92, 0.5)); */
    /* background: no-repeat; */

    /* width: 100%; */
    /* height: 80%;
    position: relative; */
    /* margin-bottom: 30px; */
}


.title {
    position: absolute;
    top: 50%;
    left: 15%;
    -webkit-transform: translate(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    font-family: sans-serif
}

.contain {
    background: no-repeat;
    position: relative;
    height: 80%;
    width: 100%;
}
.contain h1{
    font-size: 10px;
}

.title h1 {
    font-size: 4em;
    color: azure;
    /* text-align: center; */
    margin: 0;
    margin-left: 12px;
    /* background-color: rgba(0, 0, 0, 0.87); */
    /* padding: 60px; */
}

.title p {
    font-size: 20px;
    color: azure;
    text-align: center;
    margin: 0px;
    letter-spacing: 6px;

}

.overlay {
    background: #000000bb;
    width: 100%;
    height: 100%;
    /* height: 80%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
}



/* edit card */
.companyCard :hover{
    /* background-color:rgba(63, 62, 62, 0.911); */
    /* color: white; */
   transform: scale(1.03);
transition: all 1s ease;
    
    /* transition: 0.1s;
transform: scale(1.1); */

}
.companyCard{
   
}


/* .companyCard{
display: flex;
justify-content: center;
} */


.header{
    margin-top: 80px;
    margin-left: 60px;
    color: rgba(44, 44, 46, 0.904);

}

.buttonAllproject{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


.footer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(0, 0, 0);
    /* rgba(82, 76, 76, 0.5); */
    color: white;
    text-align: center;
    /* color: rgb(218, 143, 109); */
}

.navbarbr.scrolled{
    background-color: rgba(0, 0, 0, 0.26);
}


.navbartop{
    background-color: rgba(0, 0, 0, 0.404);
}



.MdFavorite{
}

.projectitem:hover{
filter: brightness(80%);
}
.projectitem{
    transition: .3s ease-in-out;
    transform:scale(1.1) ;
}


.linkOneCompany :hover{

}

.buttonSeeAllProject :hover{

    transform: scale(1.03);
    transition: all 1s ease;
    opacity: rgba(228, 215, 215, 0.144);
}


 /* .navbartop{
    width: 100%; 
     display: flex; 
     justify-content: space-around; 
     align-items: center; 
     list-style: none; 
} */


 /* .navbartop .nav-link{
    position: relative;
    color:var(--light);
    text-decoration: none;
    padding: 7px 0;
    font-size: 1.3rem;
} */

/* .navbartop .nav-link::after{
    content: '';
    position: absolute;
    bottom:0;
    left: 50%;
    width: 0%;
    height: 1px;
    background: var(--white);
    translate:0.4s ease-out ;
}

.navbartop .nav-link:hover::after{
left:0;
width: 100px;
}  */
